---
layout: report
tags: reports
title: example
language: en
evaluation:
  evaluator: Polypane Cloud
  commissioner: Kilian's Team
  target: WCAG 2.1, Level AA
  targetLevel: AA
  targetWcagVersion: 2.1
  date: 2023-07-05T14:15:45.236
scope:
  - All crawlable pages of superposition.design
out_of_scope:
  - Non-crawlable content (PDFs, pages that require login, etc.)
baseline:
  - Chromium (latest)
technologies:
  - HTML
  - CSS
  - JavaScript
  - WAI-ARIA
  - SVG

sample:
- title: "Addons | Superposition design tokens"
  id: superpositiondesignaddons
  url: https://superposition.design/addons/

- title: "Changelog | Superposition design tokens"
  id: superpositiondesignchangelog
  url: https://superposition.design/changelog/

- title: "Figma Plugin | Superposition design tokens"
  id: superpositiondesignfigma-plugin
  url: https://superposition.design/figma-plugin/

- title: "Support | Superposition design tokens"
  id: superpositiondesignsupport
  url: https://superposition.design/support/

- title: "Adobe XD Plugin | Superposition design tokens"
  id: superpositiondesignxd-plugin
  url: https://superposition.design/xd-plugin/

- title: "Superposition: Use the design system you already have"
  id: superpositiondesign
  url: https://superposition.design

---