---
layout: report
tags: reports
title: example.be
language: nl
evaluation:
  evaluator: Gijs Veyfeyken
  commissioner: klantnaam
  target: WCAG 2.1, Level AA
  targetLevel: AA
  targetWcagVersion: 2.1
  date: June 21, 2021
  special requirements: Please also list accessibility problems that are not conformance failures
scope:
  - All pages on example.com
out_of_scope:
  - The RSS feed (https://foo.com/rss)
  - Other page 2
  - Some other page
baseline: 
  - Microsoft Edge (last 3 versions) 
  - Mozilla Firefox (last 3 versions) 
  - Google Chrome (last 3 versions) 
  - Apple Safari (last 3 versions)
  - Apple Safari on iOS
  - common assistive technologies
technologies: 
  - HTML
  - CSS
  - JavaScript
  - WAI-ARIA
  - SVG
sample:
  - title: Homepage
    id: homepage
    url: https://five-oaks.be
    description: The homepage of Five Oaks.
  - title: Blog post
    id: blog-post
    url: https://example.com/blog/example-post
    description: An example of a blog post
WCAG overzicht:
  - 1.1.1 mlkqsjdfmlk (Ok)
  - 1.2.1. mlksjfq (Niet Ok)
---

